.App {
  text-align: center;
  background-color: white;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #8b7e74;
  display: grid;
  place-items: center;
}

button {
  background-color: #0077ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.information {
  margin-right: 10px;
}

.highScore {
  margin-right: 0;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  font-size: 45px;
}

.board {
  width: 450px;
  height: 550px;
  border: 2px solid #3d3e3a;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.tile {
  flex: 33%;
  height: 100%;
  border: 1px solid black;
  margin: 5px;
  padding-bottom: 2px;
  display: grid;
  place-items: center;
  font-size: 24px;
  font-weight: bolder;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
